$bg-color: rgb(196, 207, 202);

$maxWidth: 1920; // Ширина полотна (макета)
$maxWidthContainer: 1170; // Ширина ПК контейнера
$minWidth: 320px; // Минимальная ширина страницы
$containerPadding: 16px;
$pc: 1200px;
$mobile: 768px;
